* {
    box-sizing: border-box;
    font-family: 'Gayathri', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }

 
  .header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  
  .topnav {
    overflow: hidden;
    background-color: rgb(30, 130, 148);
    /* position: sticky; */
  }

  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
  }

  #login, #signup, #profile {
    float: right;
  }

  
  .topnav a:hover {
    background-color: rgb(19, 95, 109);
    /* color: black; */
  }

  
  .column {
    float: left;
    padding: 10px;
  }

  
  .column.side {
    width: 25%;
  }

  
  .column.middle {
    width: 50%;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column h2 {
    text-align: center;
  }

  .column.middle h2 a {
    text-decoration: none;
    color: black;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(30, 130, 148);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #d3d3d3;
    cursor: pointer;
  }

  .row select {
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
  }

  .row select option {
    border-radius: 5px;
    background-color: #d3d3d3;
  }
  
  .post {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdfbfb;
    margin-bottom: 10px;
  }

  /* .post a {
    position: absolute;
    height: 37%;
    width: 48%;
  } */

  /* .post:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
  } */
  
  
  .post img {
    z-index: 100;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5X;
  }

  .post h2 {
    margin: 5px;
  }
  
  
  table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
  }

  
  th {
    width: 20%;
    padding: 5px;
    text-align: center;    
  }

  th img {
    display: flex;
    justify-content: left;
  }

  td {
    /* padding: 0; */
    text-align: left;    
  }

  .filter {
    background-color: rgb(30, 130, 148);
    color: #f2f2f2;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
  }
  
  .filter:hover {
    background-color: rgb(19, 95, 109);
    cursor: pointer;
  }

  .apply {
    z-index: 200;
    background-color: rgb(30, 130, 148);
    color: #f2f2f2;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
  }

  .apply:hover {
    background-color: rgb(19, 95, 109);
    cursor: pointer;
  }
  
  footer {
    padding: 5px;
    text-align: center;
    background-color: rgb(30, 130, 148);
    height: 100px;
    color: #f1f1f2;
    letter-spacing: 2px;
}
  
  @media screen and (max-width: 600px) {
    
    .column.side,
    .column.middle {
      width: 100%;
    }
  }