* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.Nav {
    top: 0;
    position: relative;
    width: 100%;
    background-color: rgb(30, 130, 148);
    overflow: hidden;
}

.Nav-item li {
    list-style: none;
    float: left;
}

#login {
    float: right;
}

#signup {
    float: right;
}

.Nav-item li a {
    text-transform: uppercase;
    color: black;
    padding: 30px;
    text-decoration: none;
    display: block;
    letter-spacing: 3px;
    font-size: 18px;
}

.Nav-item li a:hover {
    background-color: rgb(19, 95, 109);
}

.post {
    /* z-index: 1; */
    position: relative;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
    padding: 30px;
    width: 800px;
    background-color: rgba(219, 218, 217, 0.897);
    border: 1px solid rgb(77, 75, 75);
    border-radius: 10px;
}

.side-bar {
    position: fixed;
    float: left;
    z-index: 100;
}

footer {
    text-align: center;
    background-color: rgb(30, 130, 148);
    height: 100px;
}
